{% load crispy_forms_filters %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>

<style>
    html, body {
        height: 100%;
    }
</style>
<!-- Bootstrap 5 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!-- Font Awesome -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<!-- Moment.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"
        integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

<!-- jQuery min -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css"
      integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous"/>

<!-- tempusdominus Bootstrap 4-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"
        integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>

<body>

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col" style="max-width: 50%">
            <img src="{% static 'drk_core/drk-logo.png' %}" alt="DRK logo" style="max-width: 100%">
            <h3>Einsatzdashboard</h3>
        </div>
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {% if lg_error %}
                    <div class="form-floating mb-3 alert alert-danger" role="alert">
                        Login failed
                    </div>
                {% endif %}

                <div class="form-floating mb-3">
                    <input type="username" class="form-control" id="id_username" name="username"
                           placeholder="name@example.com" value="{{ username }}" required>
                    <label for="id_username">{% trans 'username' %}</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="id_password" name="password" placeholder="Password"
                           required>
                    <label for="id_password">{% trans 'password' %}</label>
                </div>
                <br>
                <button type="submit" class="btn btn-outline-danger">{% trans 'login' %}</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>